.body_background {
    background-image: url("https://images.unsplash.com/photo-1599998871151-f7ade4ec9e00?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ");
    background-position: center;
    background-size: cover;
  }
  body{
    cursor: pointer;
  }
  h1
  {
      color: red;
      font-size: 40px;
  }
  #myCanvas
  {
      border-width:10px;
      background-color: white;
      border-style:ridge;
      
  }

  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 42px;
    font-size: 16px;
  }

  input
  {
    margin-right: 20px;
  }